html {
  height:100%;
  box-sizing: border-box;
}

body {
  height:100%;
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: inherit;
}

section {
  height: 100%
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-header,
.page-footer {
  /* background-color: rgb(75, 70, 74); */
  background: rgb(23,218,240);
  background: linear-gradient(90deg, rgba(23,218,240,1) 0%, rgba(42,220,228,1) 35%, rgba(106,225,171,1) 70%);
  color: #fff;
  padding: 20px;
}

.page-body {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #1E1E1E;
  color: #fff;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.square.fullImg {
  padding: 0;
}

.square.fullImg img {
  object-fit: cover;
}